// BEGIN of CSS RESET

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

// HTML5 display-role reset for older browsers

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

// END of CSS RESET

// 1 - END of Including files ("fonts.css", "reset.css" and others) ----------------------------------------------------------
// 2 - BEGIN of Tags and General styles ----------------------------------------------------------

body
  min-height: 500px
  margin: 0 auto
  font-family: 'Roboto', sans-serif
  font-weight: normal
  font-size: 16px
  color: #222

h1
  font-size: 110px
  line-height: 120px
  font-weight: bold
  font-family: "RobotoCondensed"

h2
  font-size: 50px
  line-height: 60px
  font-weight: bold
  font-family: "RobotoCondensed"


h3
  font-size: 20px
  line-height: 30px
  font-weight: bold
  font-family: "RobotoCondensed"
  text-transform: uppercase

h4
  font-size: 20px
  line-height: 27px
  font-weight: bold

h5
  font-size: 16px
  line-height: 22px
  font-weight: 600

h6
  font-size: 12px
  font-weight: bold

a
  color: #000
  text-decoration: none
  outline: none
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease
  &:hover
    opacity: 0.7
    text-decoration: none
    outline: none
    color: inherit
  &:active
    opacity: 0.6
    outline: none
    color: inherit
    text-decoration: none
  &:focus
    outline: none
    color: inherit
    text-decoration: none

button, input, textarea, select
  padding: 0
  -webkit-transition: all .3s ease
  -o-transition: all .3s ease
  transition: all .3s ease

button:hover, input:hover, textarea:hover, select:hover
  opacity: 0.8

strong
  font-weight: bold

em
  font-style: italic

img
  max-width: 100%

*
  box-sizing: border-box


  
.content
  min-height: calc(100vh - 364px)


.container
  max-width: 1920px
  margin: 0 auto
  padding-left: 100px
  padding-right: 100px


.justify-align
  display: flex
  justify-content: space-between
  align-items: center

.left-align
  display: flex


.right-align
  display: flex
  justify-content: flex-end

.center-align
  display: flex
  justify-content: center
  align-items: center


.flex
  display: flex
  flex-wrap: wrap

.row
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.col-2
  width: 16.66666667%

.col-3
  width: 25%

.col-4
  width: 33.33333%

.col-5
  width: 41.66666667%

.col-6
  width: 50%

.col-7
  width: 58.33333333%

.col-8
  width: 66.66666667%

.col-9
  width: 75%

.col-10
  width: 83.33333333%

.col-11
  width: 91.66666667%

.col-12
  width: 100%


*::-webkit-input-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease

*:-moz-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*::-moz-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease


*:-ms-input-placeholder 
  color: #9C9C9C
  font-size: 16px
  text-indent: 0
  -webkit-transition: all .5s ease
  -o-transition: all .5s ease
  transition: all .5s ease