@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------




.header
	position: absolute
	left: 0
	right: 0
	top: 0
	z-index: 10
	transition: all .3s
	

	
	&-top
		padding: 22px 0 22px


	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		background: #fff
		margin: 0 auto
		z-index: 9999
		transform: translate(0 0)
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04)

	&-contact
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: flex-end

		&__time
			font-size: 12px
			line-height: 14px
			color: #fff

		&__tel
			font-weight: bold
			font-size: 22px
			line-height: 26px
			color: #fff

			&:hover
				color: #fff

		&__mail
			font-size: 12px
			line-height: 14px
			color: #fff
			border-bottom: 1px dashed

			&:hover
				color: #fff	


	
.main-menu
	list-style: none

	>li
		display: inline-block
		padding: 0 16px

		&:first-child
			padding-left: 0

		&:last-child
			padding-right: 0

		>a
			display: inline-block
			padding-bottom: 4px
			font-size: 13px
			line-height: 16px
			text-transform: uppercase
			color: #fff

			&.active
				position: relative
				color: #fff

				&:before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 0
					height: 2px
					width: 100%
					background: #fff






.languages-list
	margin-left: 140px
	margin-right: 140px
	list-style: none

	li
		display: inline-block

		a
			width: 46px
			height: 26px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 72px
			border: 1px solid transparent
			color: #fff
			font-size: 12px
			text-transform: uppercase
			font: 500px

			&.active
				color: #fff
				border-color: #9C9B9A




.btn
	position: relative
	display: inline-block
	padding: 20px 40px 20px
	font-weight: 500
	font-size: 14px
	line-height: 16px
	background-color: transparent
	border: 2px solid #FFFFFF
	border-radius: 72px
	color: #fff
	text-align: center
	text-transform: uppercase
	text-align: center
	outline: none

	&::before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		background-color: rgba(255, 255, 255, 0.1)
		z-index: -2
		border-radius: 72px

	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		bottom: 0
		right: 0
		width: 0
		background-color: #fff
		border-radius: 72px
		transition: all .4s
		z-index: -1


	&:focus, &:hover
		outline: none
		opacity: 1
		color: #000

		&::after
			width: 100%
			

	




	

.banner
	position: relative
	max-width: 1920px
	// height: 460px
	height: 100vh
	margin: 0 auto
	padding: 60px 0 0
	transition: height .5s linear .7s,opacity .5s ease-in-out

	

	h1
		opacity: 0
		color: #fff
		text-transform: uppercase

	&-about
		background: url(../img/about-bg.jpg) center top
		background-size: cover

	&-projects
		background: url(../img/projects-bg.jpg) center top
		background-attachment: fixed

	&-project
		background: url(../img/project-bg.jpg) center top
		background-size: cover

	&-services
		background: url(../img/services-bg.jpg) center top
		background-size: cover

		.banner-overlay
			background-color: rgba(0,0,0,.6)

	&-responsibility
		background: url(../img/responsibility-bg.jpg) center top
		background-size: cover

		.banner-overlay
			background-color: rgba(0,0,0,.6)

	&-sertificate
		background: url(../img/licenses-bg.jpg) center top
		background-size: cover

		.banner-overlay
			background-color: rgba(0,0,0,.6)

	&-jobs
		background: url(../img/jobs-bg.jpg) center top
		background-size: cover

		.banner-overlay
			background-color: rgba(0,0,0,.6)

	&-contacts
		background: url(../img/contacts-bg.jpg) center top
		background-size: cover

		.banner-overlay
			background-color: rgba(0,0,0,.6)


	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center
		background-color: rgba(0,0,0,.4)

.about

	&-history

		

		&__content
			max-width: 610px
			margin: 0 auto
			text-align: center

			p
				margin: 0 0 25px
				font-size: 15px
				line-height: 26px
				color: #000

				&:last-child
					margin-bottom: 0


.section
	padding: 60px 0
	background-color: #fff

	h2
		margin-bottom: 60px
		text-transform: uppercase
		text-align: center


	h3
		margin-bottom: 20px





.image-block
	position: relative
	height: 400px
	background-attachment: fixed
	background-size: cover
	background-position: center

	&__text
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		background-color: rgba(0,0,0,.4)

		strong
			font-family: 'RobotoCondensed'
			font-style: normal
			font-weight: bold
			font-size: 50px
			line-height: 60px
			color: #fff

		span
			font-size: 14px
			line-height: 20px
			color: #fff

	&__count
		font-size: 14px
		line-height: 20px
		color: #fff

		>span
			font-family: 'RobotoCondensed'
			font-style: normal
			font-weight: bold
			font-size: 50px
			line-height: 60px



.icon-block

	&__wrap
		max-width: 930px
		margin: 0 auto

	.row
		margin-left: -100px
		margin-right: -100px

	[class^="col"]
		padding-left: 100px
		padding-right: 100px


	&__list
		list-style: none

		li
			display: flex
			align-items: flex-start
			justify-content: space-between
			margin-bottom: 20px

			span
				width: calc(100% - 56px)
				line-height: 26px
				font-weight: 300


.sertificate
	padding: 100px 0
	background: #FCFEFF

	&-slider
		padding-left: 75px
		padding-right: 75px

		img
			margin: 0 auto

		&__item
			margin-left: 35px
			margin-right: 35px




.footer
	position: relative

	&::before
		content: ''
		position: absolute
		left: 7%
		top: 35%
		width: 150px
		height: 150px
		background: url(../img/run-logo.svg)

	.container
		padding: 0 15px
		max-width: 1170px

	&-top
		background: #323232

	&-menu
		display: flex
		justify-content: space-around
		padding: 22px 0
		list-style: none

		li

			a
				font-size: 13px
				line-height: 16px
				text-transform: uppercase
				font-family: "RobotoCondensed"
				color: #fff


	&-wrap
		background-color: #0C0D0E

		.container
			padding-top: 22px
			padding-bottom: 22px
			background: #131314

			>.justify-align
				align-items: flex-start


	&-list
		list-style: none

		li

			a
				font-size: 12px
				line-height: 24px
				color: #fff

	&-address
		list-style: none

		li
			font-size: 12px
			line-height: 20px
			color: #fff

		&__youtube
			margin-top: 10px

			a
				display: inline-block
			
				>span
					display: inline-block
					padding: 0 0 0 5px
					vertical-align: middle
					font-size: 14px
					line-height: 20px
					font-weight: bold
					color: #fff


	&-contact
		display: flex
		flex-direction: column
		justify-content: flex-end
		align-items: flex-end

		&__time
			font-size: 12px
			line-height: 14px
			color: #9C9B9A

		&__tel
			font-weight: bold
			font-size: 22px
			line-height: 26px
			color: #fff

			&:hover
				opacity: 1
				color: #fff

		&__mail
			font-size: 12px
			line-height: 14px
			color: $blue
			border-bottom: 1px dashed

			&:hover
				opacity: 1
				color: $blue

	&-bottom
		margin-top: 30px
		padding: 22px 0 0
		border-top: 1px solid #303437

		span, a
			display: inline-block
			vertical-align: middle
			font-size: 12px
			line-height: 14px
			color: #fff

		&__left
			span
				padding-right: 45px

		&__right
			span
				padding-right: 10px



.icon-youtube
	display: inline-block
	vertical-align: middle
	width: 20px
	height: 15px
	background: url(../img/youtube.svg)




.home
	height: 100vh
	background: url(../img/bg-main.jpg) no-repeat center
	background-size: cover

	.header
		position: static
		padding: 22px 0

		&::before
			content: ''
			position: absolute
			left: 0
			right: 0
			bottom: 0
			height: 1px
			width: 100%
			background: #fff
			opacity: .3

	

	.content
		position: relative
		min-height: calc(100vh - 295px)
		display: flex
		align-items: center
		
	&-content

		h1
			margin-bottom: 20px
			font-size: 60px
			line-height: 70px
			color: #fff
			text-transform: uppercase

		p
			margin-bottom: 45px
			font-size: 20px
			line-height: 30px
			color: #fff

		&__btn
			.btn
				margin-right: 25px

	&-vertical
		position: absolute
		right: 100px
		top: 0
		bottom: 0
		display: flex
		justify-content: center
		flex-direction: column


		li
			display: inline-block
			padding: 25px 0
			writing-mode: vertical-rl
			text-orientation: sideways


			a
				font-family: 'RobotoCondensed'
				font-style: normal
				font-weight: bold
				font-size: 14px
				line-height: 16px
				color: #FFFFFF

				



	.footer
		padding: 22px 0

		.container
			padding-left: 100px
			padding-right: 100px
			max-width: none

		.justify-align
			align-items: flex-end
			color: #fff


	.footer-youtube

		span
			display: inline-block
			padding: 0 0 0 5px
			vertical-align: middle
			font-size: 14px
			font-weight: bold
			line-height: 20px
			font-family: "RobotoCondensed"
			color: #fff




.projects
	display: flex
	flex-wrap: wrap
	max-width: 1920px
	margin: 0 auto

	&-item
		position: relative
		transition: all .3s


		img
			display: block

		&.active
			height: 100%
			.projects-item__overlay
				background: $blue
				&:hover
					opacity: .9
					color: #fff
					h2
						opacity: 1


		&__overlay
			position: absolute
			left: 0
			right: 0
			top: 0
			bottom: 0
			display: flex
			align-items: center
			padding-left: 100px
			color: #fff
			transition: all .3s

			h2
				font-size: 34px
				line-height: 44px
				text-transform: uppercase

			&--info
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				display: flex
				flex-direction: column
				justify-content: center
				padding: 0 100px
				opacity: 0
				transition: all .3s

			&:hover
				background: #415CA4
				opacity: 0.9
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25)

				h2
					opacity: 0

				.projects-item__overlay--info
					opacity: 1

					p
						margin-bottom: 20px
						line-height: 32px

					.btn
						max-width: 224px
		
		&__header
			.projects-item__overlay:hover
				opacity: 1
				background-color: transparent

	








.project

	&-header
		display: flex
		flex-wrap: wrap
		max-width: 1920px
		margin: 0 auto


		h1
			height: 100%
			padding: 0 0 0 100px
			display: flex
			align-items: center
			background: $blue
			color: #fff
			text-transform: uppercase

		img
			display: block


	&-info

		&.row
			margin-left: -100px
			margin-right: -100px

		&__item
			padding: 100px 100px

			h3
				margin-bottom: 20px
			p
				font-weight: 300
				line-height: 34px

		[class^="col"]
			&:nth-child(2)
				border-left: 1px solid #e6edef
				border-right: 1px solid #e6edef

	&-gallery
		display: flex
		flex-wrap: wrap
		max-width: 1920px
		margin: 0 auto

		img
			display: block

		&__item
			display: block

	&-btn
		display: flex
		flex-wrap: wrap
		max-width: 1920px
		margin: 0 auto

		&__item
			height: 112px
			display: flex
			align-items: center
			justify-content: center
			color: #222
			font-family: "RobotoCondensed"
			text-transform: uppercase

			&:first-child
				span
					padding-left: 10px

			&:last-child
				span
					padding-right: 10px

			>span
				display: inline-block
				vertical-align: middle

			&--all
				background: $blue
				font-size: 20px
				line-height: 26px
				font-weight: bold
				color: #fff

				&:hover, &focus
					color: #fff


	&-list
		padding-bottom: 30px
		background: #FCFEFF

		h2
			margin-bottom: 30px
	
		&__slider
			padding-left: 75px
			padding-right: 75px

			.slick-list
				padding-top: 30px
				padding-bottom: 30px

		&__item
			margin-left: 15px
			margin-right: 15px
			padding: 35px
			background: #fff
			box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1)

			&--img
				height: 70px

				img
					display: block

			h4
				margin-bottom: 15px
				font-size: 15px
				line-height: 22px
				font-weight: normal
				text-transform: uppercase
				font-family: "RobotoCondensed"
				font-weight: bold

			p
				margin-bottom: 20px
				font-size: 14px
				line-height: 22px

			>a
				font-size: 12px
				line-height: 14px
				font-weight: bold
				color: #415CA4
				border-bottom: 2px solid

				&:hover, &:focus
					color: $blue
					opacity: 1

				&:active
					color: #9C9B9A

	.custom-list
		max-width: 590px
		margin: 0 auto

	&-slider
		margin: 120px auto
		max-width: 1920px

		.slick-list
			padding-top: 50px !important
			padding-bottom: 50px !important

		&__item
			position: relative
			text-align: center

			img
				margin: 0 auto
				

			&.slick-center
				img
					background-color: transparent

				.project-slider__btn
					display: flex
					opacity: 1
					z-index: 100

				.project-slider__img
					transform: scale(1.2, 1.2)

					&::before
						opacity: 0

		&__img
			position: relative
			display: inline-block


			&::before
				content: ''
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				background: rgba(255, 255, 255, 0.8)
				z-index: 10
				transition: all .3s

		&__btn
			display: none
			position: absolute
			left: -58px
			right: -58px
			top: 45%
			z-index: -1
			justify-content: space-between
			align-items: center


			button
				width: 60px
				height: 60px
				display: flex
				align-items: center
				justify-content: center
				background: #415CA4
				padding: 0
				border: none
				outline: none
				background-color: #F0F0F0
				z-index: 100

				&:hover, &:focus
					background-color: $blue
					cursor: pointer
					opacity: 1

					.icon-prev
						background: url(../img/prev-white.svg)
					.icon-next
						background: url(../img/next-white.svg)


				i
					position: relative
					display: inline-block
					width: 11px
					height: 16px
					transition: all .3s

					&.icon-prev
						background: url(../img/prev.svg)

					&.icon-next
						background: url(../img/next.svg)


.slick-arrow
	width: 60px
	height: 60px

	&:hover
		opacity: 1
		&::before
			background-color: #415CA4

	&::before
		content: ''
		display: block
		width: 60px
		height: 60px
		opacity: 1
		background-color: #F0F0F0
		transition: all .3s

.slick-prev
	left: 0

	&::before
		background-image: url(../img/prev.svg)
		background-repeat: no-repeat
		background-position: center

	&:hover
		&::before
			background-image: url(../img/prev-white.svg)


.slick-next
	right: 0

	&::before
		background-image: url(../img/next.svg)
		background-repeat: no-repeat
		background-position: center

	&:hover
		&::before
			background-image: url(../img/next-white.svg)



.custom-list
	list-style: none

	li
		position: relative
		padding: 0 0 0 24px
		font-weight: 300
		line-height: 34px
		margin-bottom: 15px

		&::before
			content: ''
			position: absolute
			left: 0
			top: 10px
			width: 14px
			height: 14px
			background: url(../img/bullit.svg)




.icon-prev
	display: inline-block
	vertical-align: middle
	width: 12px
	height: 21px
	background: url(../img/icon-prev.svg) no-repeat

.icon-next
	display: inline-block
	vertical-align: middle
	width: 12px
	height: 21px
	background: url(../img/icon-next.svg) no-repeat


.services
	text-align: center

	
	&-modal
		display: none
		max-width: 930px
		padding: 80px 80px 60px
		overflow: visible

		h3
			margin-bottom: 20px

		p
			margin-bottom: 20px
			font-weight: 300
			line-height: 32px

		button.fancybox-button.fancybox-close-small
			top: -40px
			right: -40px
			background: #fff
			opacity: 1
			height: 40px
			width: 40px


		

	p
		max-width: 712px
		margin: 0 auto 30px
		font-size: 15px
		line-height: 26px

	>a
		display: inline-block
		color: #415CA4
		font-size: 12px
		line-height: 14px
		font-weight: bold
		border-bottom: 2px solid


		&:hover, &:focus
			opacity: 1
			color: $blue

		&:active
			opacity: 1
			color: #9C9B9A



.blueprints-bg
	background-image: url(../img/blueprints-bg.png)
	background-position: right center
	background-repeat: no-repeat

.construction-bg
	background-image: url(../img/construction-bg.png)
	background-position: left center
	background-repeat: no-repeat

.farm-bg
	background-image: url(../img/farm-bg.png)
	background-position: right center
	background-repeat: no-repeat

.plan-bg
	background-image: url(../img/plan-bg.png)
	background-position: left center
	background-repeat: no-repeat

.family-bg
	background-image: url(../img/family-bg.png)
	background-position: right center
	background-repeat: no-repeat

.nature-bg
	background-image: url(../img/nature-bg.png)
	background-position: left bottom
	background-repeat: no-repeat

.city-bg
	background-image: url(../img/city-bg.png)
	background-position: left bottom
	background-repeat: no-repeat

.employees-bg
	background-image: url(../img/employees-bg.png)
	background-position: right bottom
	background-repeat: no-repeat



.color-grey
	color: #9C9B9A

.color-blue
	color: $blue


.jobs

	&-info
		text-align: center

	h3
		margin-bottom: 10px

.resume
	position: relative
	display: inline-block
	padding: 0 0 0 34px
	margin-bottom: 60px
	text-align: left



	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 24px
		height: 24px
		background: url(../img/attachment.svg)

	>span
		display: block
		line-height: 20px

	>a
		display: inline-block
		font-size: 12px
		line-height: 14px
		font-weight: bold
		color: #415CA4
		border-bottom: 2px solid


.faq
	max-width: 610px
	margin: 0 auto

	&-item
		margin-bottom: 25px
		border: 1px solid #E6EDEF
		background: #fff

		&.active
			
			.faq-header
				color: #415CA4
				&:before
					background-image: url(../img/minus-ic.svg)

	&-header
		position: relative
		padding: 25px 50px 25px 25px
		cursor: pointer
		font-size: 18px
		line-height: 22px
		font-family: "RobotoCondensed"
		font-weight: bold
		text-transform: uppercase

		&::before
			content: ''
			position: absolute
			right: 25px
			top: 25px
			width: 24px
			height: 24px
			display: flex
			align-items: center
			justify-content: center
			background-color: #415CA4
			background-image: url(../img/plus-ic.svg)
			background-repeat: no-repeat
			background-position: center
			border-radius: 50%



	&-body
		display: none
		padding: 20px
		border-top: 0

		p
			margin-bottom: 10px
			font-size: 15px
			line-height: 26px

		ul
			padding: 0 0 0 20px
			margin-bottom: 10px

			li
				font-size: 15px
				line-height: 26px


.contacts
	padding-bottom: 0

	&-wrap
		display: flex
		max-width: 640px
		margin: 0 auto

		[class^="col"]
			padding-left: 15px
			padding-right: 15px

	&-item
		margin-bottom: 60px

		h3
			margin-bottom: 30px
			font-size: 18px
			line-height: 22px

		&__list
			list-style: none

			li
				font-weight: 300
				font-size: 15px
				line-height: 26px

			&--tel
				a
					font-size: 16px
					line-height: 32px

			&--mail
				a
					position: relative
					top: -3px
					font-size: 12px
					line-height: 14px
					border-bottom: 2px solid
					color: $blue
					font-weight: bold
.map
	height: 1000px
	width: 100%

#googleMap
	width: 100%
	height: 100%




.burger-menu
	display: none
	background: transparent
	width: 30px
	border: none
	border-radius: 3px
	&:focus
		outline: none
	span
		position: relative
		width: 100%
		display: block
		height: 2px
		margin-bottom: 6px
		background: #fff
		transition: all 500ms ease-in-out
	> span:last-child
		margin-bottom: 0
	&.active span
		&:nth-of-type(1)
			top: 8px
			transform: rotate(45deg)
		&:nth-of-type(2)
			background-color: transparent
		&:nth-of-type(3)
			top: -8px
			transform: rotate(-45deg)





























@media only screen and (max-width: 1919px)
	.container
		padding-left: 50px
		padding-right: 50px

	.languages-list
		margin-left: 40px
		margin-right: 40px

	.main-menu
		>li
			padding: 0 10px

			a
				font-size: 12px


	.about-history__wrap, .icon-block .row
		margin-left: -50px
		margin-right: -50px

	.about-history__item, .icon-block [class^=col]
		padding-left: 50px
		padding-right: 50px

	.project-list__item
		h3
			font-size: 16px
			line-height: 24px


	.home-content 
		h1
			font-size: 50px
			line-height: 60px

		p
			font-size: 18px
			line-height: 26px

	.home-vertical 
		li
			padding: 20px 0
			a
				font-size: 12px




	.project-info.row
		margin-left: -50px
		margin-right: -50px


	.project-info__item
		padding: 50px 50px

	.project-header h1
		padding-left: 50px


	.banner-overlay
		padding-left: 50px
		padding-right: 50px

	.services-item .row
		min-height: 400px
		margin-left: -50px
		margin-right: -50px

		[class^=col]
			padding-left: 50px
			padding-right: 50px

	.services-item h2
		padding-left: 50px

	.services-item h2
		font-size: 45px
		line-height: 55px

	.jobs-wrap
		margin-left: -50px
		margin-right: -50px

		[class^=col]
			padding-left: 50px
			padding-right: 50px

	.contacts .row
		margin-left: -50px
		margin-right: -50px

		[class^='col-']
			padding-left: 50px
			padding-right: 50px


	.footer
		&::before
			display: none

	.sertificate-slider__item
		margin-left: 15px
		margin-right: 15px




.fadeInBottom
	animation-name: fadeInBottom
	animation-duration: 2s
	animation-fill-mode: both

@keyframes fadeInBottom
	from
		opacity: 0
		transform: translateY(100%)

	to
		opacity: 1










































@media only screen and (max-width: 1365px)
	.languages-list 
		margin-left: 25px
		margin-right: 25px

	.header-contact__tel
		font-size: 16px
		line-height: 26px

	.main-menu>li a
		font-size: 11px

	.about
		background: #FDFEFF


	.home
		height: auto

		.content
			min-height: 450px
			padding-right: 50px


	.home-vertical
		right: 50px


	.projects-item
		h2
			font-size: 40px
			line-height: 50px


	
	.projects-item__overlay--info
		padding: 0 30px

	.projects-item__overlay
		padding-left: 50px


	.services-item h2
		margin-bottom: 10px
		font-size: 36px
		line-height: 46px


	.banner
		height: 400px













@media only screen and (max-width: 1200px)
	
	a.logo
		max-width: 100px

	.container
		padding-left: 50px
		padding-right: 50px
		
	.header-wrap
		padding: 15px 0 15px

	.main-menu
		>li
			padding: 0px 5px

			a
				font-size: 10px

	.languages-list li a
		font-size: 10px
		width: 40px
		border-radius: 42px

	.banner-overlay
		padding-left: 50px
		padding-right: 50px

	h1
		font-size: 40px
		line-height: 50px

	.icon-block__list li span
		line-height: 24px
		font-size: 14px

	.projects-item h2
		font-size: 28px
		line-height: 38px



	.projects-item__overlay
		&:hover
			opacity: 1

			.projects-item__overlay--info 
				p
					font-size: 14px
					line-height: 18px

			h2
				opacity: 1

			.projects-item__overlay--info 
				.btn
					padding: 10px 30px


	.services-item .row
		display: block
		min-height: auto
		margin: 0
		padding: 50px 0 50px
		[class^=col]
			width: auto
			padding: 0 50px
			&:first-child
				border: none

	.services-item h2
		padding-left: 0
		font-size: 30px
		line-height: 38px



	.map
		height: 600px

	.contacts
		padding-top: 50px

	.contacts .row
		display: block
		margin: 0
		[class^=col-]
			padding: 0 0 50px
			width: auto

	.contacts .row [class^=col-]:nth-child(2)
		border: none


	.services-item__modal
		max-width: 860px













@media only screen and (max-width: 992px)
	.visible-md
		display: block

	.header-contact
		display: none

	.main-menu
		display: none
		position: absolute
		left: 0
		right: 0
		top: 68px
		padding: 20px
		background: #fff
		z-index: 100
		border-top: 1px solid #e6edef

		li
			display: block
			margin-bottom: 5px
			text-align: center

			a
				font-size: 13px

	.about-history__wrap, .icon-block .row
		margin: 0
		display: block

		[class^="col"]
			padding: 0
			width: auto

	.about-history__item, .icon-block [class^=col]
		padding: 0

	.about-history__item
		margin-bottom: 20px

	.section
		padding: 40px 0

	.image-block
		height: 300px

	.icon-block__list
		padding: 0

		li
			br
				display: none

	.icon-block 
		padding: 40px 0
		[class^=col]:nth-child(2)
			border: none

	.project-list
		padding: 30px 0

	.footer-wrap .container>.justify-align
		display: block
		text-align: center

	.footer-contact
		align-items: center

	.footer-wrap .footer-bottom.justify-align
		display: flex

	.footer-list
		margin: 10px 0


	.burger-menu span
		background: #fff

	.main-menu
		li
			a
				color: #222

				&.active
					color: #222
					&::before
						background: #222
						bottom: 2px


	.btn
		padding: 10px 40px 10px

	.home .header
		padding: 0

	.home-content 
		h1
			font-size: 40px
			line-height: 50px
		p
			br
				display: none


	.projects-item__overlay
		padding-left: 15px



	.projects-item h2
		font-size: 20px
		line-height: 28px


	.projects
		flex-direction: column

		[class^="col"]
			width: auto

	.projects-item__overlay, .projects-item__overlay--info
		position: static
		opacity: 1

	.projects-item__overlay--info
		padding-left: 0
		padding-right: 0

	.projects-item__overlay
		padding: 15px
		background: $blue
		flex-direction: column
		align-items: flex-start

		h2
			margin-bottom: 20px

		p
			margin-bottom: 20px


		.btn
			max-width: 230px


	.projects-item__header
		img
			display: none

		h1
			br
				display: none

	.projects-item
		display: flex
		flex-direction: column-reverse


	.project-info.row
		margin: 0
		display: block

		[class^="col-"]
			width: auto

		.project-info__item
			padding: 30px 0 30px

	.project-info [class^=col]:nth-child(2)
		border: none

	.jobs-wrap
		display: block


		[class^=col]
			padding-top: 50px
			padding-bottom: 0
			width: auto
			background: transparent
			&:first-child
				border: none


	.map
		height: 300px

	.services-item__modal
		max-width: 560px


















		




















@media only screen and (max-width: 768px)

	.container
		padding-left: 15px
		padding-right: 15px

	.footer-menu
		display: block

		li
			width: 48%
			display: inline-block
			text-align: center

	.footer-wrap .footer-bottom.justify-align
		flex-direction: column
		align-items: center
		justify-content: center

	.footer-bottom__left
		margin-bottom: 10px

	.footer-bottom__left span
		padding-right: 10px

	h1
		font-size: 30px
		line-height: 40px

	.image-block
		height: 200px


	.home-content
		h1 
			font-size: 28px
			line-height: 38px

		p
			font-size: 16px
			line-height: 24px

		&__btn
			max-width: 240px

			.btn
				width: 100%
				margin-bottom: 20px

	.home-vertical
		right: 15px

	.home .footer .container
		padding-left: 15px
		padding-right: 15px

		.justify-align
			display: block
			text-align: center

	.project-btn__item:not(.project-btn__item--all)

		span
			display: none

	.project-btn__item
		height: 70px

	.project-btn
		[class^="col-"]
			width: calc((100% - 190px) / 2)
			&:nth-child(2)
				width: 190px

	.project-header h1
		padding-left: 15px


	.sertificate
		padding: 50px 0

	.sertificate-slider
		margin-left: 0
		margin-right: 0


	.jobs-wrap
		margin-left: -15px
		margin-right: -15px

		[class^=col]
			padding-left: 15px
			padding-right: 15px




	.map
		height: 250px

	.services-item__modal
		max-width: 90%
		padding: 50px 20px 30px

		p
			line-height: 22px


		button.fancybox-button.fancybox-close-small
			top: 0
			right: 0

	.banner
		height: 300px

	.contacts-wrap
		display: block

	.contacts-wrap [class^=col]
		padding: 0
		width: auto


	.contacts-item
		margin-bottom: 30px

		h3
			margin-bottom: 10px


	.project-slider
		margin: 30px auto











@media only screen and (max-width: 479px)
	h1, h2
		font-size: 22px
		line-height: 30px

	h3
		font-size: 18px
		line-height: 24px

	.banner-overlay
		padding-left: 15px
		padding-right: 15px

	.banner-overlay, .services-item 
		.row
			background: #fff
			[class^=col]
				padding-left: 30px
				padding-right: 30px
				background: #fff



	.image-block
		height: 150px



	.footer-list li a
		font-size: 10px
		line-height: 18px

	.home-content h1
		font-size: 28px
		line-height: 38px


	.projects-item h2
		font-size: 18px
		line-height: 22px

		br
			display: none

	.projects-item__overlay p
		font-size: 14px

	.services-item h2
		font-size: 22px
		line-height: 30px

	.banner
		height: 200px

	.project-list__slider
		padding-left: 25px
		padding-right: 25px

	.slick-arrow, .project-slider__btn button
		width: 30px
		height: 30px

		&::before
			width: 30px
			height: 30px




